---
layout: archive
title: "Join the team"
permalink: /join/
author_profile: true
---

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}

<object data="https://lushawangece.github.io//files/ad.pdf" type="application/pdf" width="700px" height="700px">
    <embed src="https://lushawangece.github.io//files/ad.pdf">
        <p>This browser does not support PDFs. Please download the PDF to view it: <a href="https://lushawangece.github.io//files/ad.pdf">Download PDF</a>.</p>
    </embed>
</object>